body {
    background:maroon;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment{
    display: flexbox;
    padding: 10px;
    background: black;
}

.assignment img{
    width: 200px;
    padding: 10px;
}

h1{
    color: whitesmoke;
    text-align: center;
}